* {
    font-family: Oxygen;
    font-weight: 400;
    border: 0;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    margin: 0px auto;
}

.header-wrapper {
    background-image: url(./img/MainBack.png);
    background-size: 100% 100%;
    max-width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header-conteiner {
    padding: 17px 250px;
    width: 940px;
    max-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .title-escape {
    font-family: Lora;
    font-weight: 400;
    font-size: 26px;
    margin: 13px 471px 0 0; 
    cursor: pointer;
} */

.top-list {
    list-style: none;
    display: flex;
}

.top-list li {
    cursor: pointer;
    text-transform: uppercase;
    font-family: Oxygen;
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.foot-edit li{
    margin: 15px 10px;
}
.head-edit li{
    margin: 15px 20px;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}

.head-title {
    max-width: 940px;
    max-height: 159px;
    padding: 89px 250px 38px 250px;
    color: #FFFFFF;
}

.head-title__name {
    font-size: 50px;
    font-family: Lora;
    font-weight: 400; 
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.head-title__under {
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.63);
}
/* .posts-button {
    display: flex;
    justify-content: center;
}

.latest-posts {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 300;
    width: 167px;
    height: 44px;
    background-color: #DD783F;
    border-radius: 3px;
} */
 
.posts-button {
    height: 44px;
    width: 167px;
    border-radius: 3px;
    background: rgba(221, 120, 63, 1);
    color: #FFFFFF;
}

/*  Menu Bar*/
.menu-bar {
    max-height: 65px;
}

.menu-bar__conteiner {
    display: flex;
    margin: 9px 240px 10px 240px;

}

.menu-bar__block {
    width: 139px;
    height: 46px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-bar__block a {
    
    font-size: 14px;
    font-weight: 300;
    font-family: Lora;
    font-weight: 400;
    color: #768088;
}

/* Footer */
footer {
    background: url(./img/Footer.png) 
    rgba(35, 47, 56, 0.6);
    background-blend-mode: multiply;
}

.footer-conteiner {
    padding: 27px 240px;
    max-width: 940px;
    max-height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title__foot {
    font-size: 11px;
    margin: 15px 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

/* Main Cards */

.main-cards {
    height: 1255px;
    width: 1440px;
    background-color: #F7F7F7;
    /* background-color: aqua; */
    /* border: 1px solid black; */
    position: relative;
}

.main-cards__conteiner1 {
    width: 940px;
    height: 414px;
    /* background-color: bisque; */
    /* border: 1px solid black; */
    margin: 0 250px;
}

.main-cards__conteiner2 {
    max-width: 940px;
    max-height: 752px;
    /* background-color: chartreuse; */
    /* border: 1px solid black; */
    margin: 0 250px;
}


.feature-posts_cards {
    /* border: 1px solid black; */
    height: 294px;
    width: 960px;
    /* background-color: #DD783F; */
    position: absolute;
    top: 120px;
    left: 240px;
    display: flex;
    flex-wrap: wrap;
}

/* Title Future posts and Most Recent */
.feature-posts__conteiner__title {
    height: 44px;
    padding-top: 60px;
    background-color: #F7F7F7;
    /* background-color: blueviolet; */
    /* border: 1px solid black; */
    position: relative;
}

.feature-posts__conteiner__title p{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.line {
    width: 188px;
    height: 1px;
    background-color: #DEDEDE;
    position: absolute;
    bottom: 0;
    left: 376px;
}


.most-recent_conteiner__title {
    height: 44px;
    margin: 60px 0;
    /* background-color: cornflowerblue; */
    /* border: 1px solid black; */
    position: relative;
}

.most-recent_conteiner__title p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

/* Big Card */

.big-card {
    margin: 7px 10px;
}

.big-card_img {
    position: relative;
}

.big-card_conteiner {
    width: 460px;
    height: 181px;
    position: absolute;
    top: 99px;
    left: 0;
}

.big-card__title {
    font-family: Lora;
    font-weight: 400;
    font-size: 27px;
    color: #FFFFFF;
    margin-top: 56px;
    margin-bottom: 0;
    margin-left: 20px;
}

.big-card__title__under {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 20px;
}

.big-card__footer__conteiner {
    width: 420px;
    height: 35px;
    /* background-color: darkmagenta; */
    position: absolute;
    top: 131px;
    left: 20px;
    display: flex;
}

/* Big Card under */

.big-card__footer__conteiner .big-card-img {
    margin-top: 5px;
}

.big-card__footer__conteiner .big-card-name {
    margin-left: 10px;
    margin-top: 12px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.big-card__footer__conteiner .big-card-date {
    margin-top: 12px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

/* Big Card1 under */
.date-edit1 {
    margin-left: 208px;
}

/* Big Card2 under */
.date-edit2 {
    margin-left: 190px;
}

/* big-card button */
.big-card-button {
    height: 26px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}

.big-card-button p {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Oxygen;
    

}

/* Edit btn  */

.btn1 {
    width: 108px;
    background-color: #A872B7;
}

.btn2 {
    width: 87px;
    background-color: #DD783F;
}

/* Most recent cards conteoiner */

.most-recent_cards {
    /* border: 1px solid black; */
    max-height: 632px;
    max-width: 960px;
    /* background-color: bisque; */
    position: absolute;
    top: 534px;
    left: 240px;
    display: flex;
    flex-wrap: wrap;
}


/* Card */

.card-conteiner {
    width: 296px;
    height: 291px;

    margin: 6px 12px 12px 12px;
}

.card-image {
    line-height: 0;
}

/* Card header */
.card-line {
    width: 296px;
    height: 1px;
    margin: 0;
    background-color: #E5E5E5;
}

.card-title {
    width: 296px;
    height: 92px;
    background-color: #FFFFFF;
}

.card-title__name {
    margin: 0;
    font-family: Lora;
    font-weight: 400;
    font-size: 16px;
    color: #101315;
    margin-left: 13px;
    padding-top: 14px;
}

.card-title__description {
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 0;
    margin-left: 13px;
    color: #7A7A7A;
    margin-right: 36px;
}

/* Card footer */
.card-footer-conteiner {
    width: 296px;
    height: 48px;
    background-color: #FCFCFC;
    display: flex;
}

.card-img {
    margin: 12px 0 10px 13px;
}

.card-name {
    margin-left: 10px;
    font-size: 11px;
    color: #999999;
    margin-top: 18px;
}

.card-date {
    color: #999999;
    margin-top: 14px;
    margin-right: 13px;
}

/* Card edit */
.date1 {
    margin-left: 88px;
}

.date2 {
    margin-left: 102px;
}
