* {
    font-family: Oxygen;
    font-weight: 400;
    border: 0;
    list-style: none;
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
    margin: 0px auto;
    overflow-x:hidden;  
}


.header-wrapper {
    background-image: url(http://localhost:8001/static/images/img_home/MainBack.png);
    background-size: 100% 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-repeat: no-repeat;
}
.header-conteiner {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
}

.title-escape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
}


.top-list ul {
    display: flex;
}

.top-list ul li {
    cursor: pointer;
    text-transform: uppercase;
    font-family: Oxygen;
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}


.top-list-footer ul {
    display: flex;
}

.top-list-footer ul li {
    cursor: pointer;
    text-transform: uppercase;
    font-family: Oxygen;
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}
.head-edit li{
    margin-right: 40px;
}
.foot-edit li{
    margin-right: 20px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.head-title {

    padding-top: 90px;
    padding-bottom: 160px;
    color: #FFFFFF;
    text-align: center;
}

.head-title__name {
    font-size: 50px;
    font-family: Lora;
    font-weight: 400; 
    margin: 0;
}

.head-title__under {
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.63);
}

.posts-button {
    height: 44px;
    width: 167px;
    border-radius: 3px;
    background: rgba(221, 120, 63, 1);
    color: #FFFFFF;
}

/*  Menu Bar*/
.menu-bar {
    max-width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-bar__conteiner {
    width: 960px;
}

.menu-bar__conteiner ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.menu-bar__conteiner ul li {
    padding: 13px 46px;
    display: block;
    gap: 10px;
}

.menu-bar__conteiner ul li a {
    font-family: Lora;
    font-size: 14px;
    font-weight: 400;
    color: rgba(118, 128, 136, 1);
}

/* Footer */

.fotter-wrapper {
    background: url(http://localhost:8001/static/images/img_home/FooterBack.png);
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;  
    position: absolute;
}

.footer-conteiner {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.footer-blure {
    margin-top: 70px;
    height: auto;
    width: 100%;
    background-color: #232F3899;
}


.log-title {
    height: 47px;
    padding-top: 82px;
}
.log-title p {
    font-family: Oxygen;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    color: #EFEFEF;
    margin: auto;
}

.log-input-conteiner {
    margin-top: 18px;
    max-width: 80%;
    display: flex;
    width: 80%;
    justify-content: center;
}

.input-block {
    min-width: 330px;
    background-color: #FFFFFF;
    border-radius: 3px 0 0 3px;
}

.submit-button{
    text-align: center;
    justify-content: space-between;
    width: 125px;
    max-height: 50px;
    border-radius: 0 3px 3px 0;
    background: #FFFFFF47;
    
}

.submit-button p {
    font-family: Roboto;
    color: #FFFFFF;
    font-weight: 400;
}


/* Main Cards */

.main-cards {
    max-width: 100%;
    background-color: #F7F7F7;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.main-cards__conteiner1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-cards__conteiner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-posts-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 960px;
}
/* Title Future posts and Most Recent */
.feature-posts__conteiner1__title {
    height: 44px;
    padding-top: 60px;
    background-color: #F7F7F7;
    position: relative;
    margin-bottom: 23px;
}

.feature-posts__conteiner1__title p{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    
}



.line {
    width: 188px;
    height: 1px;
    background-color: #DEDEDE;
}


.most-recent_conteiner2__title {
    height: 44px;
    padding-top: 60px;
    background-color: #F7F7F7;
    position: relative;
}

.most-recent_conteiner2__title p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

/* Big Card */
.big-card{
    position: relative;
    max-width: 460px;
    height: 280px;
}

.image-block {
    max-width: 100%;
    object-fit: cover;
    object-position: top center;
    height: 100%;
}

.image-block-card {
    object-fit: cover;
    object-position: top center;
    max-height: 150px;
    width: 296px;
    height: 150px;
}
.big-card_conteiner {
    max-width: 460px;
    max-height: 181px;
    position: absolute;
    top: 99px;
}



.big-card__title {
    font-family: Lora;
    font-weight: 400;
    font-size: 27px;
    color: #FFFFFF;
    margin-top: 56px;
    margin-bottom: 0;
    margin-left: 20px;
}

.big-card__title__under {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 20px;
}

.big-card__footer__conteiner {
    width: 420px;
    height: 35px;
    position: absolute;
    top: 131px;
    left: 20px;
    display: flex;
}


/* Big Card under */

.big-card-img {
    margin-top: 5px;
}

.big-card__footer__conteiner .big-card-name {
    margin-left: 10px;
    margin-top: 12px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.big-card__footer__conteiner .big-card-date {
    margin-top: 12px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.big-card-footer_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 390px;
}

.big-card-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 6px 9px 5px;
    display: block;
    border-radius: 2px;
    /* background-color: aqua; */
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase; 
    margin: 0;  
    background-color: #DD783F;
}

.photography {
    background-color: #A872B7;
}

.adventure {
    background-color: #DD783F;
}


.most-recent_cards {
    max-width: 960px;
    padding-bottom: 64px; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* Card */

.card-conteiner {
    max-width: 296px;
    max-height: 291px;

    margin: 6px 12px 12px 12px;
}



/* Card header */
.card-line {
    height: 1px;
    margin: 0;
    background-color: #E5E5E5;
}

.card-title {
    height: 92px;
    background-color: #FFFFFF;
}

.card-title__name {
    margin: 0;
    font-family: Lora;
    font-weight: 400;
    font-size: 16px;
    color: #101315;
    margin-left: 13px;
    padding-top: 14px;
}

.card-title__description {
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 0;
    margin-left: 13px;
    color: #7A7A7A;
    margin-right: 36px;
}

/* Card footer */
.card-footer-conteiner {
    height: 48px;
    background-color: #FCFCFC;
    display: flex;
}

.card-img {
    margin: 12px 0 10px 13px;
    height: 26px;
    width: 26px;
    background-color: #F7F7F7;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    padding-right: 10px;
}

.card-name {
    margin-left: 10px;
    font-size: 11px;
    color: #999999;
}

.card-date {
    color: #999999;
}

.escape-header {
    padding-left: 10px;
}

.burger-menu {
    cursor: pointer;
    width: 27px;
    height: 20px;
    display: none; /* Скрываем бургер-меню по умолчанию */
    flex-direction: column;
    justify-content: space-between;
}

.burger-bar {
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
}

.nav-menu {
    display: none; /* Скрываем навигационное меню по умолчанию */
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    border-bottom: 1px solid #ddd;
}

.nav-menu li:last-child {
    border-bottom: none;
    
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 20px;
}

.nav-menu a:hover {
    background-color: #f0f0f0;
}

@media (max-width: 480px) {
    .header-conteiner {
        width: 90%;
    }
    .head-title {
        max-width: 350px;
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .big-card{
        max-width: 440px;
    }
    .card-conteiner {
        max-width: 440px;
    }
    .image-block-card {
        width: 440px;
    }
    .card-footer-block {
        width: 500px;
    }
    .input-block {
        min-width: 80%;
    }
    .footer-conteiner {
        min-width: 90%;
    }
    .top-list ul {
        display: none;
    }
    .top-list-footer ul {
        display: inline;
        gap: 10px;
    }
    .burger-menu {
        display: flex; 
    }
    .nav-menu {
        display: none;
    }
    .top-list-footer ul li {
        padding-bottom: 10px;
    }
    .menu-bar__conteiner ul li {
        padding: 13px 12%;

    }
}

@media screen and (min-width: 768px) {
    .header-conteiner {
        width: 60%;
    }
    .head-title {
        max-width: 100%;
        padding-top: 90px;
        padding-bottom: 160px;
    }
    .input-block {
        min-width: 60%;
    }
    .big-card{
        max-width: 345px;
    }
    .big-card-footer_block {
        width: 270px;
    }
    .card-conteiner {
        max-width: 222px;
    }
    .image-block-card {
        width: 222px;
    }
    
    .footer-conteiner {
        min-width: 707px;
    }
    .top-list ul {
        display: flex;
    }
    .top-list-footer ul {
        display: flex
    }
    .burger-menu {
        display: none; 
    }
    .menu-bar__conteiner ul li {
        padding: 13px 10%;
    }

}

@media screen and (min-width: 1024px) {
    .header-conteiner {
        min-width: 60%;
    }
    .head-title {
        max-width: 100%;
        padding-top: 90px;
        padding-bottom: 160px;
    }
    .big-card{
        max-width: 460px;
    }
    .card-conteiner {
        max-width: 296px;
    }
    .image-block-card {
        width: 296px;
    }
    .input-block {
        min-width: 50%;
    }
    .footer-conteiner {
        min-width: 960px;
    }
    .top-list ul {
        display: flex;
    }
    .top-list-footer ul {
        display: flex
    }
    .burger-menu {
        display: none; 
    }
    .menu-bar__conteiner ul li {
        padding: 13px 46px;
    }

}

@media screen and (min-width: 1366px) {
    .header-conteiner {
        min-width: 60%;
    }
    .head-title {
        max-width: 100%;
        padding-top: 90px;
        padding-bottom: 160px;
    }
    .big-card{
        max-width: 460px;
    }
    .card-conteiner {
        max-width: 296px;
    }
    .image-block-card {
        width: 296px;
    }
    .input-block {
        min-width: 30%
    }
    .footer-conteiner {
        min-width: 960px;
    }
    .top-list ul {
        display: flex;
    }
    .top-list-footer ul {
        display: flex
    }
    .burger-menu {
        display: none; 
    }
    .menu-bar__conteiner ul li {
        padding: 13px 46px;
    }

}
